:root {
    --mainBlack: #121212;
    --mainWhite: #f0f0f0;
    --mainYellow: #fbf594;
    --lightBlack: #5f5f5f;
}

body {
    font-family: "Montserrat";
    background-color: var(--mainBlack);
    color: var(--mainYellow);
}
